policy_module(puppet,1.0.10)

########################################
#
# Declarations
#

type puppet_t;
type puppet_exec_t;
domain_type(puppet_t)
init_daemon_domain(puppet_t, puppet_exec_t)

type puppet_script_exec_t;
init_script_type(puppet_script_exec_t)

type puppet_tmp_t;
files_tmp_file(puppet_tmp_t)

type puppet_rw_t;
files_type(puppet_rw_t)

type puppet_var_run_t;
files_pid_file(puppet_var_run_t)

type puppet_var_lib_t;
files_type(puppet_var_lib_t)

type puppet_port_t;
corenet_port(puppet_port_t)

########################################
#
# puppet local policy
#

# Init script handling
domain_use_interactive_fds(puppet_t)

## internal communication is often done using fifo and unix sockets.
allow puppet_t self:fifo_file rw_file_perms;
allow puppet_t self:unix_stream_socket create_stream_socket_perms;

files_read_etc_files(puppet_t)

libs_use_ld_so(puppet_t)
libs_use_shared_libs(puppet_t)

miscfiles_read_localization(puppet_t)

ifdef(`targeted_policy',`
	term_dontaudit_use_unallocated_ttys(puppet_t)
	term_dontaudit_use_generic_ptys(puppet_t)
')


allow puppet_t puppet_tmp_t:file manage_file_perms;
allow puppet_t puppet_tmp_t:dir create_dir_perms;
files_tmp_filetrans(puppet_t,puppet_tmp_t, { file dir })

allow puppet_t puppet_rw_t:file manage_file_perms;
allow puppet_t puppet_rw_t:dir create_dir_perms;

allow puppet_t puppet_var_run_t:file manage_file_perms;
allow puppet_t puppet_var_run_t:dir manage_dir_perms;
files_pid_filetrans(puppet_t,puppet_var_run_t, { file dir })

allow puppet_t puppet_var_lib_t:file manage_file_perms;
allow puppet_t puppet_var_lib_t:dir manage_dir_perms;
files_var_lib_filetrans(puppet_t,puppet_var_lib_t, { file dir })

sysnet_dns_name_resolve(puppet_t)
corenet_all_recvfrom_unlabeled(puppet_t)

allow puppet_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_all_if(puppet_t)
corenet_tcp_sendrecv_all_nodes(puppet_t)
corenet_tcp_sendrecv_all_ports(puppet_t)
allow puppet_t puppet_port_t:tcp_socket name_connect;

logging_send_syslog_msg(puppet_t)

#### version 1.0.1
allow puppet_t puppet_rw_t:dir search;

corecmd_search_bin(puppet_t)
corecmd_exec_bin(puppet_t)
corecmd_read_bin_symlinks(puppet_t)
require { type groupadd_exec_t; }
dontaudit puppet_t groupadd_exec_t:file getattr;
hostname_exec(puppet_t)
sysnet_exec_ifconfig(puppet_t)
kernel_getattr_proc_files(puppet_t)
kernel_read_proc_symlinks(puppet_t)

# to allow puppetd-ruby18 exec
corecmd_exec_shell(puppet_t)

allow puppet_t self:netlink_route_socket { bind create getattr nlmsg_read read write };
#allow puppet_t sysadm_home_dir_t:dir search;
#allow puppet_t sysadm_home_t:dir getattr;
#allow puppet_t sysctl_net_t:dir search;
#allow puppet_t sysctl_t:dir search;

require { type urandom_device_t,useradd_exec_t; }
allow puppet_t urandom_device_t:chr_file { getattr read };
allow puppet_t useradd_exec_t:file getattr;
allow puppet_t var_t:dir { add_name remove_name write };
allow puppet_t var_t:file { create getattr lock read setattr unlink write };

# end 1.0.1

# version 1.0.2
# aus refpoliy 20070329:
# grep -ri "interface(" `find system -name *.if` | sed "s/.*interface(\`//" | sed "s/[\',\`]*$/(puppet_t)/"
#init_domain(puppet_t)
#init_ranged_domain(puppet_t)
#init_daemon_domain(puppet_t)
#init_ranged_daemon_domain(puppet_t)
#init_system_domain(puppet_t)
#init_ranged_system_domain(puppet_t)
## init_domtrans(puppet_t)
## init_exec(puppet_t)
## init_getpgid(puppet_t)
## init_signull(puppet_t)
## init_sigchld(puppet_t)
## init_use_fds(puppet_t)
## init_dontaudit_use_fds(puppet_t)
## #init_udp_send(puppet_t)
## init_getattr_initctl(puppet_t)
## init_dontaudit_getattr_initctl(puppet_t)
## init_write_initctl(puppet_t)
## #init_telinit(puppet_t)
## init_rw_initctl(puppet_t)
## init_dontaudit_rw_initctl(puppet_t)
## init_script_file_entry_type(puppet_t)
## init_spec_domtrans_script(puppet_t)
## init_domtrans_script(puppet_t)
## #init_script_file_domtrans(puppet_t)
## #init_run_daemon(puppet_t)
## init_write_script_pipes(puppet_t)
## init_getattr_script_files(puppet_t)
## init_exec_script_files(puppet_t)
## init_read_script_state(puppet_t)
## init_use_script_fds(puppet_t)
## init_dontaudit_use_script_fds(puppet_t)
## init_getpgid_script(puppet_t)
## init_sigchld_script(puppet_t)
## init_signal_script(puppet_t)
## init_signull_script(puppet_t)
## init_rw_script_pipes(puppet_t)
## #init_udp_send_script(puppet_t)
## init_stream_connect_script(puppet_t)
## init_rw_script_stream_sockets(puppet_t)
## init_dontaudit_stream_connect_script(puppet_t)
## init_dbus_chat_script(puppet_t)
## init_use_script_ptys(puppet_t)
## init_dontaudit_use_script_ptys(puppet_t)
## init_read_script_files(puppet_t)
## init_getattr_script_status_files(puppet_t)
## init_dontaudit_read_script_status_files(puppet_t)
## init_rw_script_tmp_files(puppet_t)
## #init_script_tmp_filetrans(puppet_t)
## init_getattr_utmp(puppet_t)
## init_read_utmp(puppet_t)
## init_dontaudit_write_utmp(puppet_t)
## init_write_utmp(puppet_t)
## init_dontaudit_lock_utmp(puppet_t)
## init_rw_utmp(puppet_t)
## init_dontaudit_rw_utmp(puppet_t)
## init_manage_utmp(puppet_t)
## netlabel_domtrans_mgmt(puppet_t)
#netlabel_run_mgmt(puppet_t)
udev_domtrans(puppet_t)
udev_helper_domtrans(puppet_t)
udev_read_state(puppet_t)
udev_dontaudit_use_fds(puppet_t)
udev_dontaudit_rw_dgram_sockets(puppet_t)
udev_read_db(puppet_t)
udev_rw_db(puppet_t)
raid_domtrans_mdadm(puppet_t)
raid_manage_mdadm_pid(puppet_t)
## userdom_read_all_untrusted_content(puppet_t)
## userdom_read_all_tmp_untrusted_content(puppet_t)
## userdom_spec_domtrans_all_users(puppet_t)
## userdom_xsession_spec_domtrans_all_users(puppet_t)
## userdom_spec_domtrans_unpriv_users(puppet_t)
## userdom_xsession_spec_domtrans_unpriv_users(puppet_t)
## userdom_manage_unpriv_user_semaphores(puppet_t)
## userdom_manage_unpriv_user_shared_mem(puppet_t)
## userdom_bin_spec_domtrans_unpriv_users(puppet_t)
## #userdom_sbin_spec_domtrans_unpriv_users(puppet_t)
## userdom_entry_spec_domtrans_unpriv_users(puppet_t)
## userdom_shell_domtrans_sysadm(puppet_t)
## userdom_bin_spec_domtrans_sysadm(puppet_t)
## #userdom_sbin_spec_domtrans_sysadm(puppet_t)
## userdom_entry_spec_domtrans_sysadm(puppet_t)
## userdom_sysadm_bin_spec_domtrans_to(puppet_t)
## #userdom_sysadm_sbin_spec_domtrans_to(puppet_t)
## userdom_sysadm_entry_spec_domtrans_to(puppet_t)
## userdom_search_staff_home_dirs(puppet_t)
## userdom_dontaudit_search_staff_home_dirs(puppet_t)
## userdom_manage_staff_home_dirs(puppet_t)
## userdom_relabelto_staff_home_dirs(puppet_t)
## userdom_dontaudit_append_staff_home_content_files(puppet_t)
## userdom_read_staff_home_content_files(puppet_t)
## userdom_sigchld_sysadm(puppet_t)
## userdom_dontaudit_getattr_sysadm_ttys(puppet_t)
## userdom_use_sysadm_ttys(puppet_t)
## userdom_dontaudit_use_sysadm_ttys(puppet_t)
## userdom_use_sysadm_ptys(puppet_t)
## userdom_dontaudit_use_sysadm_ptys(puppet_t)
## userdom_use_sysadm_terms(puppet_t)
## userdom_dontaudit_use_sysadm_terms(puppet_t)
## userdom_use_sysadm_fds(puppet_t)
## userdom_rw_sysadm_pipes(puppet_t)
## userdom_getattr_sysadm_home_dirs(puppet_t)
## userdom_dontaudit_getattr_sysadm_home_dirs(puppet_t)
## userdom_search_sysadm_home_dirs(puppet_t)
## userdom_dontaudit_search_sysadm_home_dirs(puppet_t)
## userdom_list_sysadm_home_dirs(puppet_t)
## userdom_dontaudit_list_sysadm_home_dirs(puppet_t)
## userdom_dontaudit_read_sysadm_home_content_files(puppet_t)
## #userdom_sysadm_home_dir_filetrans(puppet_t)
## userdom_search_sysadm_home_content_dirs(puppet_t)
## userdom_read_sysadm_home_content_files(puppet_t)
## userdom_read_sysadm_tmp_files(puppet_t)
## userdom_search_all_users_home_dirs(puppet_t)
## userdom_list_all_users_home_dirs(puppet_t)
## userdom_search_all_users_home_content(puppet_t)
## userdom_dontaudit_search_all_users_home_content(puppet_t)
## userdom_read_all_users_home_content_files(puppet_t)
## userdom_manage_all_users_home_content_dirs(puppet_t)
## userdom_manage_all_users_home_content_files(puppet_t)
## userdom_manage_all_users_home_content_symlinks(puppet_t)
## userdom_priveleged_home_dir_manager(puppet_t)
## userdom_signal_unpriv_users(puppet_t)
## userdom_use_unpriv_users_fds(puppet_t)
## userdom_dontaudit_use_unpriv_user_fds(puppet_t)
## userdom_home_filetrans_generic_user_home_dir(puppet_t)
## userdom_search_generic_user_home_dirs(puppet_t)
## #userdom_generic_user_home_dir_filetrans_generic_user_home_content(puppet_t)
## userdom_dontaudit_search_generic_user_home_dirs(puppet_t)
## userdom_manage_generic_user_home_dirs(puppet_t)
## userdom_manage_generic_user_home_content_dirs(puppet_t)
## userdom_relabelto_generic_user_home_dirs(puppet_t)
## userdom_read_generic_user_home_content_files(puppet_t)
## userdom_mmap_generic_user_home_content_files(puppet_t)
## userdom_manage_generic_user_home_content_files(puppet_t)
## userdom_dontaudit_relabel_generic_user_home_content_files(puppet_t)
## userdom_manage_generic_user_home_content_symlinks(puppet_t)
## userdom_manage_generic_user_home_content_pipes(puppet_t)
## userdom_manage_generic_user_home_content_sockets(puppet_t)
## userdom_search_unpriv_users_home_dirs(puppet_t)
## userdom_read_unpriv_users_home_content_files(puppet_t)
## userdom_manage_unpriv_users_home_content_dirs(puppet_t)
## userdom_manage_unpriv_users_home_content_files(puppet_t)
## userdom_setattr_unpriv_users_ptys(puppet_t)
## userdom_use_unpriv_users_ptys(puppet_t)
## userdom_dontaudit_use_unpriv_users_ptys(puppet_t)
## userdom_relabelto_unpriv_users_ptys(puppet_t)
## userdom_dontaudit_relabelfrom_unpriv_users_ptys(puppet_t)
## userdom_list_unpriv_users_tmp(puppet_t)
## userdom_read_unpriv_users_tmp_files(puppet_t)
## userdom_read_unpriv_users_tmp_symlinks(puppet_t)
## userdom_write_unpriv_users_tmp_files(puppet_t)
## userdom_use_unpriv_users_ttys(puppet_t)
## userdom_dontaudit_use_unpriv_users_ttys(puppet_t)
## userdom_read_all_users_state(puppet_t)
## userdom_getattr_all_users(puppet_t)
## userdom_use_all_users_fds(puppet_t)
## userdom_dontaudit_use_all_users_fds(puppet_t)
## userdom_signal_all_users(puppet_t)
## userdom_sigchld_all_users(puppet_t)
## userdom_create_all_users_keys(puppet_t)
## userdom_dbus_send_all_users(puppet_t)
## userdom_unconfined(puppet_t)
hotplug_domtrans(puppet_t)
hotplug_exec(puppet_t)
hotplug_use_fds(puppet_t)
hotplug_dontaudit_use_fds(puppet_t)
hotplug_dontaudit_search_config(puppet_t)
hotplug_getattr_config_dirs(puppet_t)
hotplug_search_config(puppet_t)
hotplug_read_config(puppet_t)
hotplug_search_pids(puppet_t)
## ipsec_domtrans(puppet_t)
## ipsec_stream_connect(puppet_t)
## ipsec_getattr_key_sockets(puppet_t)
## ipsec_exec_mgmt(puppet_t)
## ipsec_read_config(puppet_t)
## ipsec_manage_pid(puppet_t)
## ipsec_domtrans_racoon(puppet_t)
## ipsec_domtrans_setkey(puppet_t)
## #ipsec_run_setkey(puppet_t)
#setrans_translate_context(puppet_t)
iptables_domtrans(puppet_t)
#iptables_run(puppet_t)
iptables_exec(puppet_t)
lvm_domtrans(puppet_t)
#lvm_run(puppet_t)
lvm_read_config(puppet_t)
lvm_manage_config(puppet_t)
## pcmcia_stub(puppet_t)
## pcmcia_domtrans_cardmgr(puppet_t)
## pcmcia_use_cardmgr_fds(puppet_t)
## pcmcia_domtrans_cardctl(puppet_t)
#pcmcia_run_cardctl(puppet_t)
## pcmcia_read_pid(puppet_t)
## pcmcia_manage_pid(puppet_t)
## pcmcia_manage_pid_chr_files(puppet_t)
#daemontools_ipc_domain(puppet_t)
#daemontools_service_domain(puppet_t)
#daemontools_domtrans_start(puppet_t)
#daemontools_domtrans_run(puppet_t)
#daemontools_domtrans_multilog(puppet_t)
#daemontools_read_svc(puppet_t)
#daemontools_manage_svc(puppet_t)
clock_domtrans(puppet_t)
#clock_run(puppet_t)
clock_exec(puppet_t)
clock_dontaudit_write_adjtime(puppet_t)
clock_rw_adjtime(puppet_t)
libs_domtrans_ldconfig(puppet_t)
#libs_run_ldconfig(puppet_t)
libs_use_ld_so(puppet_t)
libs_legacy_use_ld_so(puppet_t)
libs_exec_ld_so(puppet_t)
libs_manage_ld_so(puppet_t)
libs_relabel_ld_so(puppet_t)
libs_rw_ld_so_cache(puppet_t)
libs_search_lib(puppet_t)
libs_dontaudit_write_lib_dirs(puppet_t)
libs_manage_lib_dirs(puppet_t)
libs_read_lib_files(puppet_t)
libs_exec_lib_files(puppet_t)
libs_use_lib_files(puppet_t)
libs_manage_lib_files(puppet_t)
libs_relabelto_lib_files(puppet_t)
libs_relabel_lib_files(puppet_t)
libs_delete_lib_symlinks(puppet_t)
libs_manage_shared_libs(puppet_t)
libs_use_shared_libs(puppet_t)
libs_legacy_use_shared_libs(puppet_t)
libs_relabel_shared_libs(puppet_t)
#files_lib_filetrans_shared_lib(puppet_t)
## modutils_read_module_deps(puppet_t)
## modutils_read_module_config(puppet_t)
## modutils_rename_module_config(puppet_t)
## modutils_domtrans_insmod_uncond(puppet_t)
## modutils_domtrans_insmod(puppet_t)
## #modutils_run_insmod(puppet_t)
## modutils_exec_insmod(puppet_t)
## modutils_domtrans_depmod(puppet_t)
## #modutils_run_depmod(puppet_t)
## modutils_exec_depmod(puppet_t)
## modutils_domtrans_update_mods(puppet_t)
## #modutils_run_update_mods(puppet_t)
## modutils_exec_update_mods(puppet_t)
mount_domtrans(puppet_t)
#mount_run(puppet_t)
mount_exec(puppet_t)
mount_use_fds(puppet_t)
#mount_send_nfs_client_request(puppet_t)
## mount_domtrans_unconfined(puppet_t)
logging_log_file(puppet_t)
logging_read_audit_log(puppet_t)
logging_domtrans_auditctl(puppet_t)
#logging_run_auditctl(puppet_t)
logging_domtrans_auditd(puppet_t)
#logging_run_auditd(puppet_t)
logging_stream_connect_auditd(puppet_t)
logging_manage_audit_config(puppet_t)
logging_manage_audit_log(puppet_t)
logging_domtrans_syslog(puppet_t)
#logging_log_filetrans(puppet_t)
logging_send_syslog_msg(puppet_t)
logging_read_audit_config(puppet_t)
logging_search_logs(puppet_t)
logging_dontaudit_search_logs(puppet_t)
logging_list_logs(puppet_t)
logging_rw_generic_log_dirs(puppet_t)
logging_dontaudit_getattr_all_logs(puppet_t)
logging_append_all_logs(puppet_t)
logging_read_all_logs(puppet_t)
logging_exec_all_logs(puppet_t)
logging_manage_all_logs(puppet_t)
logging_read_generic_logs(puppet_t)
logging_write_generic_logs(puppet_t)
logging_rw_generic_logs(puppet_t)
logging_manage_generic_logs(puppet_t)
getty_domtrans(puppet_t)
getty_use_fds(puppet_t)
getty_read_log(puppet_t)
getty_read_config(puppet_t)
getty_rw_config(puppet_t)
miscfiles_read_certs(puppet_t)
miscfiles_read_fonts(puppet_t)
miscfiles_manage_fonts(puppet_t)
miscfiles_read_hwdata(puppet_t)
miscfiles_setattr_localization(puppet_t)
miscfiles_read_localization(puppet_t)
miscfiles_rw_localization(puppet_t)
miscfiles_relabel_localization(puppet_t)
miscfiles_legacy_read_localization(puppet_t)
miscfiles_dontaudit_search_man_pages(puppet_t)
miscfiles_read_man_pages(puppet_t)
miscfiles_delete_man_pages(puppet_t)
miscfiles_manage_man_pages(puppet_t)
miscfiles_read_public_files(puppet_t)
miscfiles_manage_public_files(puppet_t)
miscfiles_read_tetex_data(puppet_t)
miscfiles_exec_tetex_data(puppet_t)
miscfiles_domain_entry_test_files(puppet_t)
miscfiles_read_test_files(puppet_t)
miscfiles_exec_test_files(puppet_t)
#miscfiles_etc_filetrans_localization(puppet_t)
miscfiles_manage_localization(puppet_t)
xen_domtrans(puppet_t)
xen_use_fds(puppet_t)
xen_dontaudit_use_fds(puppet_t)
xen_append_log(puppet_t)
xen_dontaudit_rw_unix_stream_sockets(puppet_t)
xen_stream_connect_xenstore(puppet_t)
xen_stream_connect(puppet_t)
xen_domtrans_xm(puppet_t)
## iscsid_domtrans(puppet_t)
fstools_domtrans(puppet_t)
#fstools_run(puppet_t)
fstools_exec(puppet_t)
fstools_relabelto_entry_files(puppet_t)
fstools_manage_entry_files(puppet_t)
fstools_getattr_swap_files(puppet_t)
locallogin_domtrans(puppet_t)
locallogin_use_fds(puppet_t)
locallogin_dontaudit_use_fds(puppet_t)
locallogin_signull(puppet_t)
locallogin_search_keys(puppet_t)
locallogin_link_keys(puppet_t)
hostname_domtrans(puppet_t)
#hostname_run(puppet_t)
hostname_exec(puppet_t)
## unconfined_domain_noaudit(puppet_t)
## unconfined_domain(puppet_t)
## unconfined_domtrans(puppet_t)
## #unconfined_run(puppet_t)
## unconfined_shell_domtrans(puppet_t)
## #unconfined_domtrans_to(puppet_t)
## unconfined_use_fds(puppet_t)
## unconfined_sigchld(puppet_t)
## unconfined_signull(puppet_t)
## unconfined_signal(puppet_t)
## unconfined_read_pipes(puppet_t)
## unconfined_dontaudit_read_pipes(puppet_t)
## unconfined_rw_pipes(puppet_t)
## unconfined_dontaudit_rw_pipes(puppet_t)
## unconfined_stream_connect(puppet_t)
## unconfined_dontaudit_rw_tcp_sockets(puppet_t)
## unconfined_create_keys(puppet_t)
## unconfined_dbus_send(puppet_t)
## unconfined_dbus_chat(puppet_t)
## #unconfined_alias_domain(puppet_t)
## #unconfined_execmem_alias_program(puppet_t)
## unconfined_dbus_connect(puppet_t)
seutil_domtrans_checkpolicy(puppet_t)
#seutil_run_checkpolicy(puppet_t)
seutil_exec_checkpolicy(puppet_t)
seutil_domtrans_loadpolicy(puppet_t)
#seutil_run_loadpolicy(puppet_t)
seutil_exec_loadpolicy(puppet_t)
seutil_read_loadpolicy(puppet_t)
seutil_domtrans_newrole(puppet_t)
#seutil_run_newrole(puppet_t)
seutil_exec_newrole(puppet_t)
seutil_dontaudit_signal_newrole(puppet_t)
seutil_sigchld_newrole(puppet_t)
seutil_use_newrole_fds(puppet_t)
seutil_domtrans_restorecon(puppet_t)
#seutil_run_restorecon(puppet_t)
seutil_exec_restorecon(puppet_t)
seutil_domtrans_runinit(puppet_t)
seutil_init_script_domtrans_runinit(puppet_t)
#seutil_run_runinit(puppet_t)
#seutil_init_script_run_runinit(puppet_t)
seutil_use_runinit_fds(puppet_t)
seutil_domtrans_setfiles(puppet_t)
#seutil_run_setfiles(puppet_t)
seutil_exec_setfiles(puppet_t)
seutil_dontaudit_search_config(puppet_t)
seutil_dontaudit_read_config(puppet_t)
seutil_read_config(puppet_t)
seutil_rw_config(puppet_t)
seutil_manage_selinux_config(puppet_t)
seutil_manage_config_dirs(puppet_t)
seutil_search_default_contexts(puppet_t)
seutil_read_default_contexts(puppet_t)
seutil_manage_default_contexts(puppet_t)
seutil_read_file_contexts(puppet_t)
seutil_rw_file_contexts(puppet_t)
seutil_manage_file_contexts(puppet_t)
seutil_read_bin_policy(puppet_t)
seutil_create_bin_policy(puppet_t)
seutil_relabelto_bin_policy(puppet_t)
seutil_manage_bin_policy(puppet_t)
seutil_read_src_policy(puppet_t)
seutil_manage_src_policy(puppet_t)
seutil_domtrans_semanage(puppet_t)
#seutil_run_semanage(puppet_t)
seutil_manage_module_store(puppet_t)
seutil_get_semanage_read_lock(puppet_t)
seutil_get_semanage_trans_lock(puppet_t)
sysnet_domtrans_dhcpc(puppet_t)
#sysnet_run_dhcpc(puppet_t)
sysnet_sigchld_dhcpc(puppet_t)
sysnet_kill_dhcpc(puppet_t)
sysnet_sigstop_dhcpc(puppet_t)
sysnet_signull_dhcpc(puppet_t)
sysnet_signal_dhcpc(puppet_t)
sysnet_dbus_chat_dhcpc(puppet_t)
sysnet_rw_dhcp_config(puppet_t)
sysnet_read_dhcpc_state(puppet_t)
sysnet_read_config(puppet_t)
sysnet_dontaudit_read_config(puppet_t)
sysnet_etc_filetrans_config(puppet_t)
sysnet_manage_config(puppet_t)
sysnet_read_dhcpc_pid(puppet_t)
sysnet_delete_dhcpc_pid(puppet_t)
sysnet_domtrans_ifconfig(puppet_t)
#sysnet_run_ifconfig(puppet_t)
sysnet_exec_ifconfig(puppet_t)
sysnet_read_dhcp_config(puppet_t)
sysnet_search_dhcp_state(puppet_t)
#sysnet_dhcp_state_filetrans(puppet_t)
sysnet_dns_name_resolve(puppet_t)
sysnet_use_ldap(puppet_t)
sysnet_use_portmap(puppet_t)
auth_login_pgm_domain(puppet_t)
auth_login_entry_type(puppet_t)
#auth_domtrans_login_program(puppet_t)
#auth_ranged_domtrans_login_program(puppet_t)
auth_domtrans_chk_passwd(puppet_t)
auth_getattr_shadow(puppet_t)
auth_dontaudit_getattr_shadow(puppet_t)
auth_read_shadow(puppet_t)
auth_can_read_shadow_passwords(puppet_t)
auth_tunable_read_shadow(puppet_t)
auth_dontaudit_read_shadow(puppet_t)
auth_rw_shadow(puppet_t)
auth_manage_shadow(puppet_t)
## auth_etc_filetrans_shadow(puppet_t)
auth_relabelto_shadow(puppet_t)
auth_relabel_shadow(puppet_t)
auth_append_faillog(puppet_t)
auth_rw_faillog(puppet_t)
auth_read_lastlog(puppet_t)
auth_append_lastlog(puppet_t)
auth_rw_lastlog(puppet_t)
auth_domtrans_pam(puppet_t)
#auth_run_pam(puppet_t)
auth_exec_pam(puppet_t)
auth_manage_var_auth(puppet_t)
auth_read_pam_pid(puppet_t)
auth_dontaudit_read_pam_pid(puppet_t)
auth_delete_pam_pid(puppet_t)
auth_manage_pam_pid(puppet_t)
auth_domtrans_pam_console(puppet_t)
auth_search_pam_console_data(puppet_t)
auth_list_pam_console_data(puppet_t)
auth_read_pam_console_data(puppet_t)
auth_manage_pam_console_data(puppet_t)
auth_delete_pam_console_data(puppet_t)
auth_read_all_dirs_except_shadow(puppet_t)
auth_read_all_files_except_shadow(puppet_t)
auth_read_all_symlinks_except_shadow(puppet_t)
auth_relabel_all_files_except_shadow(puppet_t)
auth_manage_all_files_except_shadow(puppet_t)
auth_domtrans_utempter(puppet_t)
#auth_run_utempter(puppet_t)
auth_dontaudit_exec_utempter(puppet_t)
auth_setattr_login_records(puppet_t)
auth_read_login_records(puppet_t)
auth_dontaudit_write_login_records(puppet_t)
auth_append_login_records(puppet_t)
auth_write_login_records(puppet_t)
auth_rw_login_records(puppet_t)
auth_log_filetrans_login_records(puppet_t)
auth_manage_login_records(puppet_t)
auth_use_nsswitch(puppet_t)
auth_unconfined(puppet_t)


# @ start
require {
	type proc_net_t,sysctl_net_t,sysctl_t,sysadm_home_dir_t,sysadm_home_t;
}
allow puppet_t proc_net_t:dir { read search };
allow puppet_t proc_net_t:file { getattr read };
allow puppet_t proc_t:file read;
allow puppet_t puppet_tmp_t:dir rmdir;
allow puppet_t sysadm_home_dir_t:dir search;
allow puppet_t sysadm_home_t:dir getattr;
allow puppet_t sysctl_net_t:dir search;
allow puppet_t sysctl_t:dir search;
allow puppet_t sysadm_home_dir_t:dir search;
allow puppet_t var_t:file rename;


# test.pp class
require {
	type sysadm_devpts_t;
}
allow puppet_t sysadm_devpts_t:chr_file { ioctl write };

allow puppet_t self:capability dac_override;

#allow puppet_t security_t:security setenforce;
selinux_set_enforce_mode(puppet_t)

require {
    type crond_t,getty_t,kernel_t,munin_t,nfsd_t,portmap_t,rpcd_t,sshd_t,staff_t,sysadm_t,sysctl_kernel_t,xenconsoled_t;
	type sysadm_screen_t,tty_device_t;
}
allow hostname_t var_run_t:dir search;

puppet_allow_getattr_search_fread(crond_t)
puppet_allow_getattr_search_fread(init_t)
puppet_allow_getattr_search_fread(kernel_t)
puppet_allow_getattr_search_fread(munin_t)
puppet_allow_getattr_search_fread(newrole_t)
puppet_allow_getattr_search_fread(nfsd_t)
puppet_allow_getattr_search_fread(portmap_t)
puppet_allow_getattr_search_fread(rpcd_t)
puppet_allow_getattr_search_fread(sshd_t)
puppet_allow_getattr_search_fread(staff_t)
puppet_allow_getattr_search_fread(sysadm_t)
puppet_allow_getattr_search_fread(sysctl_kernel_t)
puppet_allow_getattr_search_fread(syslogd_t)
puppet_allow_getattr_search_fread(udev_t)
puppet_allow_getattr_search_fread(xenconsoled_t)
puppet_allow_getattr_search_fread(xend_t)
puppet_allow_getattr_search_fread(xenstored_t)
puppet_allow_getattr_search_fread(getty_t)
puppet_allow_getattr_search_fread(sysadm_screen_t)

allow puppet_t self:capability sys_ptrace;
allow puppet_t self:process signull;
puppet_lnkread_ptrace(newrole_t)
puppet_lnkread_ptrace(staff_t)
puppet_lnkread_ptrace(sysadm_screen_t)
puppet_lnkread_ptrace(sysadm_t)

allow puppet_t tty_device_t:chr_file getattr;

# update-eix
# Nov  6 11:12:27 immer1 audit(1194343947.847:572): avc:  denied  { setattr } for  pid=15037 comm="sshd" name="7" dev=devpts ino=9 scontext=system_u:system_r:sshd_t tcontext=root:object_r:sysadm_devpts_t tclass=chr_file
allow puppet_t self:capability { chown fowner fsetid };

